apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ app_name }}-{{ environment }}
  namespace: argocd
  labels:
    app: {{ app_name }}
    environment: {{ environment }}
spec:
  project: default
  source:
    repoURL: {{ git_repository }}
    targetRevision: {{ git_branch }}
    path: {{ k8s_path }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  revisionHistoryLimit: 10
  ignoreDifferences:
  - group: apps
    kind: Deployment
    jsonPointers:
    - /spec/replicas
